@media screen and (min-width:1224px){

    .s1{
        background-color: yellow;
        height: 50px;
        width: 190px;
    }
    .s2{
        background-color: #f4511e;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
        text-align: center;
        font-size: 80px;
    }
    .s3{
        font-family: fantasy;
    }
    .s4{
        height: 50px;
        font-family: sans-serif;
    }
    .three-dot{
    background: #ed1b24;
    color: #fff;
    line-height: 30px;
    padding-bottom: 10px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    height: 40px;
    cursor: pointer;
    width: 40px;
    text-align: center;
    vertical-align: text-bottom;
    border-radius: 100%;
    font-size: 24px;
    font-weight: 600;
    }
    
    body{
        background-color: antiquewhite;
    }
    .s5{
        margin-top: 10px;
        padding: 50px;
    
    }
    .s6{
        margin-left: 300px;
    }
    .s7{
        font-family: cursive;
        border: 2px solid gray;
        color: #292929;
        background-color: #565a5c;
    }
    .s8{
        height: 200px;;
    }
    .checked{
        color: orange;
    }
    .tyre{
        margin-left: 300px;
        margin-top: 100px;
    
    }
    
    .s8{
        font-family: cursive;
        font-size: 20px;
    }
    .electric_cars{
        text-align: center;
        color:rebeccapurple;  
    }
    .s9{
        border: 1px solid firebrick;
        height: 800px;
        width: 1000px;
        margin-left: 150px;
        margin-right: 20px;
    }
    .s10{
        font-size: 20px;
        color: black
    }
    .s11{
        text-align: center;
        font-size: 30px
    }
    .grid-12{
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .margin-top10 {
        margin-top: 10px;
        margin-right: 10px;
        
    }
    .infographic-right {
        padding-bottom: 0;
    }
    .infographic h2 {
        color: #565a5c;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        margin-bottom: 10px;
    }
    .carbon {
        background-position: 0 -172px;
        width: 86px;
        height: 86px;
    }
    .infographic-sprite {
        display: inline-block;
        background: url(https://imgd.aeplcdn.com/0x0/cw/es/e2o/infographic-new-sprite.png) no-repeat;
    }
    .infographic-right ul {
        line-height: 16px;
        font-size: 12px;
    }
    ul {
        list-style: none;
    }
    li h3 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    h3{
        margin: 0;
        padding: 0;
    }
    div{
        margin: 0;
        padding: 0;
    }
    .infographic-right ul li {
        margin-bottom: 10px;
        vertical-align: top;
        min-height: 60px;
        display: inline-block;
        width: 33%;
        text-align: center;
    }
    .infographic-right ul li h3 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .cost {
        background-position: 0 -86px;
        width: 86px;
        height: 86px;
    }
    .infographic-sprite {
        display: inline-block;
        background: url(https://imgd.aeplcdn.com/0x0/cw/es/e2o/infographic-new-sprite.png) no-repeat;
    }
    .margin-right10 {
        margin-right: 10px;
    }
    .infographic-right ul li:last-child {
        margin-bottom: 0;
    }
    .sound {
        background-position: 0 0;
        width: 86px;
        height: 86px;
    }
    .infographic-sprite {
        display: inline-block;
        background: url(https://imgd.aeplcdn.com/0x0/cw/es/e2o/infographic-new-sprite.png) no-repeat;
    }
    
    .s12{
        border: 1px solid firebrick;
        height: 520px;
        width: 1000px;
        margin-left: 45px;
    }
    .banner1 {
        background: url(https://imgd.aeplcdn.com/0x0/cw/es/e2o/e2oplus/e2oplus-banner-l-05.jpg) center top;
        min-height: 432px;
        margin-top: 0px;
    }
    .carousel-inner img {
        
        width: 100%;
        height: 400px;
    }
    .bg-grey{
        background-color: dimgray;
        height: 650px;
    }
    .h{
        height: 200px;
        width: 200px
    }
    .comment{
        width: 800px;
    }
    .name{
        width: 800px;
    }
    .email{
        width: 800px;
    }
    .card_style:hover{
        right: 5px;
        bottom: 5px;
        border: 2px solid black;
    }
    .bg-dark .back-to-top {
        border-color: #fff;
    }
    .btn:visited {
        color: #fc4f4f;
    }
    .btn:last-child, .btn:last-of-type {
        margin-right: 0;
       
    }
    footer.bg-dark a {
        color: #fff;
        
    }
    
    .btn-sm {
        height: 40px;
        font-size: 11px;
        line-height: 27px;
        min-width: 0;
    }
    .top{
        border: 2px solid black;
        margin-bottom: 5px
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }
      
      #myBtn:hover {
        background-color: #555;
      }
      .sell_used_cars{
          border-bottom: 2px solid black;
         
      }
      .sell_cars{
        margin-top: 5px;
      }
      
    }
    .new{
        margin-top: 50px;
        border: 2px solid violet;
        
       
    }
    
      
      
      
      
      
      
      
      
      
      
      
      @media screen and (max-width:768px){
        
    
    
        
    
    
        .row{
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            width: 100%;
        }
    
    
        .s13{
            width: 100%;
            margin-left: 0px;
            
        }
       
    
        .s14{
            margin-left: 0px;
            width: 100%;
        
        }
        .s1{
            background-color: yellow;
            height: 50px;
            width: 190px;
        }
        .s2{
            background-color: #f4511e;
            padding: 100px 25px;
            font-family: Montserrat, sans-serif;
            text-align: center;
            font-size: 80px;
            width: 100%;
        }
        .s3{
            font-family: fantasy;
        }
        .s4{
            height: 50px;
            font-family: sans-serif;
        }
        .three-dot{
        background: #ed1b24;
        color: #fff;
        line-height: 30px;
        padding-bottom: 10px;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -20px;
        height: 40px;
        cursor: pointer;
        width: 40px;
        text-align: center;
        vertical-align: text-bottom;
        border-radius: 100%;
        font-size: 24px;
        font-weight: 600;
        }
        
        body{
            background-color: antiquewhite;
        }
        .s5{
            margin-top: 10px;
            padding: 50px;
        
        }
        .s6{
            
            margin-left: 0px;
            width: 100%;
        }
        .s7{
            font-family: cursive;
            border: 2px solid gray;
            color: #292929;
            background-color: #565a5c;
        }
        .s8{
            height: 200px;;
        }
        .checked{
            color: orange;
        }
        .tyre{
            margin-left: 300px;
            margin-top: 100px;
        
        }
        
        .s8{
            font-family: cursive;
            font-size: 20px;
        }
        .electric_cars{
            text-align: center;
            color:rebeccapurple;  
        }
        .s9{
            border: 1px solid firebrick;
            height: 800px;
            width: 1000px;
            margin-left: 150px;
            margin-right: 20px;
        }
        .s10{
            font-size: 20px;
            color: black
        }
        .s11{
            text-align: center;
            font-size: 30px
        }
        .grid-12{
            width: 100%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 10px;
            padding-left: 10px;
        }
        .margin-top10 {
            margin-top: 10px;
            margin-right: 10px;
            
        }
        .infographic-right {
            padding-bottom: 0;
        }
        .infographic h2 {
            color: #565a5c;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            margin-bottom: 10px;
        }
        .carbon {
            background-position: 0 -172px;
            width: 86px;
            height: 86px;
        }
        .infographic-sprite {
            display: inline-block;
            background: url(https://imgd.aeplcdn.com/0x0/cw/es/e2o/infographic-new-sprite.png) no-repeat;
        }
        .infographic-right ul {
            line-height: 16px;
            font-size: 12px;
        }
        ul {
            list-style: none;
        }
        li h3 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        h3{
            margin: 0;
            padding: 0;
        }
        div{
            margin: 0;
            padding: 0;
        }
        .infographic-right ul li {
            margin-bottom: 10px;
            vertical-align: top;
            min-height: 60px;
            display: inline-block;
            width: 33%;
            text-align: center;
        }
        .infographic-right ul li h3 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .cost {
            background-position: 0 -86px;
            width: 86px;
            height: 86px;
        }
        .infographic-sprite {
            display: inline-block;
            background: url(https://imgd.aeplcdn.com/0x0/cw/es/e2o/infographic-new-sprite.png) no-repeat;
        }
        .margin-right10 {
            margin-right: 10px;
        }
        .infographic-right ul li:last-child {
            margin-bottom: 0;
        }
        .sound {
            background-position: 0 0;
            width: 86px;
            height: 86px;
        }
        .infographic-sprite {
            display: inline-block;
            background: url(https://imgd.aeplcdn.com/0x0/cw/es/e2o/infographic-new-sprite.png) no-repeat;
        }
        
        .s12{
            border: 1px solid firebrick;
            height: 520px;
            width: 1000px;
            margin-left: 45px;
        }
        .banner1 {
            background: url(https://imgd.aeplcdn.com/0x0/cw/es/e2o/e2oplus/e2oplus-banner-l-05.jpg) center top;
            min-height: 432px;
            margin-top: 0px;
        }
        .carousel-inner img {
            
            width: 100%;
            height: 400px;
        }
        .bg-grey{
            background-color: dimgray;
            height: 650px;
        }
        .h{
            height: 200px;
            width: 200px
        }
        .comment{
            width: 800px;
        }
        .name{
            width: 800px;
        }
        .email{
            width: 800px;
        }
        .card_style:hover{
            right: 5px;
            bottom: 5px;
            border: 2px solid black;
        }
        .bg-dark .back-to-top {
            border-color: #fff;
        }
        .btn:visited {
            color: #fc4f4f;
        }
        .btn:last-child, .btn:last-of-type {
            margin-right: 0;
           
        }
        footer.bg-dark a {
            color: #fff;
            
        }
        
        .btn-sm {
            height: 40px;
            font-size: 11px;
            line-height: 27px;
            min-width: 0;
        }
        .top{
            border: 2px solid black;
            margin-bottom: 5px
        }
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
          }
          
          #myBtn:hover {
            background-color: #555;
          }
          .sell_used_cars{
              border-bottom: 2px solid black;
             
          }
          .sell_cars{
            margin-top: 5px;
          }
    }
    
     
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    